
      #cs .carousel-item img{
            width: 1480px;
            height: 650px;
      }
      .cs-caption1{
            position: absolute;
            top: 50px;
            letter-spacing: 2px;
            right: 45%;
            bottom: 20px;
            z-index: 10;
            padding-top: 20px;
            text-align: center;
            -webkit-animation-name: text1;
            -webkit-animation-duration: 2s;
            animation-name: text1;
            animation-duration: 2s;
            z-index: 33;
      }
      @-webkit-keyframes text1{
            from{right: 65%;}
            to{right: 45%;}
      }
      @keyframes text1{
            from{right: 65%;}
            to{right: 45%;}
      }
      .cs-caption1 h1{
            font-size: 75px;
            font-weight: 700;
            letter-spacing: 5px;
            color: rgb(0, 0, 0);
      }
      .cs-caption1 p{
            color: black;
      }
      .cs-caption2 p{color: white;}
      .cs-caption1, .cs-caption2  p{
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 2px;
      }
      .cs-caption2{
            position: absolute;
            bottom: 60px;
            right: 3%;
            z-index: 34;
            padding-top: 20px;
            padding-bottom: 15px;
            left: 57em;
            top: 21em;
            color: rgb(0, 0, 0);
            text-align: auto;
            letter-spacing: 2px;
            -webkit-animation-name: text2;
            -webkit-animation-duration: 2s;
            animation-name: text2;
            animation-duration: 2s;
      }
      @-webkit-keyframes text2{
            from{right: -8%;}
            to{right: 3%;}
      }
      @keyframes text2{
            from{right: -8%;}
            to{right: 3%;}
      }
      .cs-caption2 h1{
            font-size: 75px;
            font-weight: 700;
            letter-spacing: 5px;
            color: rgb(0, 0, 0);
      }
      .carousel-inner{
            -webkit-animation-name: slide;
            -webkit-animation-duration: 1.5s;
            animation-name: slide;
            animation-duration: 1.5s;
            
      }
      @-webkit-keyframes slide{
            from{opacity: 0.7;}
            to{opacity: 1;}
      }
      @keyframes slide{
            from{opacity: 0.7;}
            to{opacity: 1;}
      }
      
      .cs-caption2 .cs-text_ button{
            font-size:20px; 
            font-weight: 500;
      }
      span.carousel-control-next-icon {
            margin-left: auto;
            margin-right: -70em;
            cursor: pointer;
      }
             /* ====== BANNER - RESPONSIVE ====== */
      @media (max-width: 1220px){
            #cs .carousel-item img {
                  width: 1480px;
                  height: 500px;
            }
            .cs-caption1, .cs-caption2 p {
                  font-size: 15px;
                  font-weight: 500;
                  letter-spacing: 2px;
            }
            .cs-caption1 h1 {
                  font-size: 50px;
                  font-weight: 700;
                  letter-spacing: 3px;
                  color: rgb(0, 0, 0);
            }
            .cs-caption2 {
                  position: absolute;
                  bottom: 5px;
                  right: 3%;
                  z-index: 34;
                  padding-top: 20px;
                  padding-bottom: 29px;
                  left: 30em;
                  top: 18em;
            }
            .cs-caption2 h1 {
                  font-size: 45px;
                  font-weight: 700;
                  letter-spacing: 3px;
            }
            .cs-caption2 .cs-text_ button{
                  font-size:17px; 
                  font-weight: 500;
            }
            span.carousel-control-next-icon {
                  margin-left: auto;
                  margin-right: -41em;
                  cursor: pointer;
            }

      } 
      
      @media (max-width:768px){
            .logo > .logo-block-2 {
                  margin-left: 20em;
                  margin-top: 23px;
            }
            span.carousel-control-next-icon {
                  margin-left: auto;
                  margin-right: -35em;
                  cursor: pointer;
            }
      }

      @media (max-width:480px){
            #cs .carousel-item img {
                  width: 1480px;
                  height: 380px;
            }
            span.carousel-control-next-icon {
                  margin-left: auto;
                  margin-right: -21em;
                  cursor: pointer;
            }
      }