@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
      margin: 0px; padding: 0px;
      top: 0px;
      /* left: 0px; */
      box-sizing: border-box;
      
}
body{
      overflow-x: hidden;
}
.container-I{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(auto,auto,auto);
      min-height: 100vh;
}
/* .container #grid-item-1{
      width: 100%;    
} */

      /* =========================== MAIN ========================== */
      main{
            grid-column: 1/4;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            /* grid-gap: 10px; */
      }     
      /*================================= BANNER ==============================*/
      main .block-1{
            grid-column: span 4;
            min-height: 100px;       
      }  
      /* ==> edited the css from the file header.css. Don't need edit it */

      /*========================== INTRODUCTION MAIN PRODUCTS ======================= */
      main .block-2{
            display: flex;
            margin-top: 45px;
            justify-content: space-evenly;
            flex-direction: row-reverse;  
      }  
       
      .intro{
            position: relative;
            width: 491px;
            height: 420px;
            transform: translate(0%, 0%);
            overflow: hidden;
            background-color: #fff;
      }
      .intro .img{
            width: 100%;
      }
      .intro:hover img{
            transform: scale(1.3);
            opacity: 0.8;
      }
            .intro .intro-text:hover button{cursor: pointer;}

            .intro .intro-text{
                  position: absolute;
                  top:34%;
                  left: 10%;
                  color: blue;
                  letter-spacing: 2px;
                  -webkit-animation-name: intro_text;
                  -webkit-animation-duration: 5s;
                  animation-name: intro_text;
                  animation-duration: 5s;
            }
            @-webkit-keyframes intro_text{
                  from{left: 10%;}
                  to{left: 25%;}
            }
            @keyframes intro_text{
                  from{left: 10%;}
                  to{left: 25%;}
            }
            
            .intro .intro-text h3{
                  color: rgb(249, 81, 81);
                  font-size: 50px;
                  font-weight: 700;
                  text-align: center;
            }
            .intro .intro-text a{text-decoration: none;}
            .intro .intro-text a p.p1{
                  font-size: 28px;
                  color: rgb(255, 255, 255);
                  font-weight: 700;
                  text-decoration: none;
            }
            .intro .intro-text a p.p2{
                  font-size: 33px;
                  color: rgb(255, 255, 0);
                  font-weight: 800;
            }
            .intro .intro_other > p{
                  color: black;
                  font-weight: 600;
                  letter-spacing: 2px;
                  font-size: 21px;
            }

            .intro .intro_other > button{
                  font-size: 18px;
                  font-weight: 600;
                  left: 50%;
            }
            button.b1 {
                  margin-top: 6%;
                  margin-left: 15%;
            }

            button.b2 {
                  margin-top: 12%;
                  margin-left: 24%;
            }

            /* ======== INTRO - RESPONSIVE ======== */
            @media (max-width: 1100px){
                  .intro {
                        position: relative;
                        width: 491px;
                        height: 310px;
                  }
                  .intro .intro-text {
                        position: absolute;
                        top: 26%;
                        left: 13%;
                  }
                  .intro .intro-text h3 { font-size: 35px; }
                  .intro .intro-text a p.p1 { font-size: 23px; }
                  .intro .intro-text a p.p2 { font-size: 28px;}
                  .intro .intro_other > p { font-size: 17px; }
                  .intro .intro_other > button { font-size: 16px; }
                  button.b2 {
                        margin-top: 28%;
                        margin-left: 26%;
                  }
            }

            @media (max-width: 768px){
                  main .intro_product{
                        display: none;
                  }
            }
      /* =============== FEATURED PRODUCT ============== */
      main .block-3{
            grid-column: span 4;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            /* grid-gap: 9px; */
      }
            .block-3 .block-3-text{
                  grid-column: span 4;
                  margin-top: 4%;
            }
           .block-3 .item{
            grid-column: span 4;
           }
           .block-3 .block-3-text h2{
                  text-align: center;
                  font-size: 39px;
                  font-weight: 600;
           }

      #hr1 hr{
            width: 30%;
		height: 4px;
		background-color: rgb(255, 86, 86);
		margin-top: 30px;
		margin-bottom: 38px;
            margin-left:35%;
      }
      /* ================== ACCESSORIES ==================== */
      main .block-4{
            grid-column: span 4;
            min-height: 100px;
      }
      .block-4 .block-4-pk{
            width: 100%;
            height: 450px;
            position: relative;
            transform: translate(0%, 0%);
            overflow: hidden;
      }
      .block-4 .block-4-pk img:hover{
            -moz-animation-name: access;
            -moz-animation-duration: 2s;
            -webkit-animation-name: access;
            -webkit-animation-duration: 2s;
            animation-name: access;
            animation-duration: 2s;
      }
      @-moz-keyframes access{
            from{transform: scale(1);}
            to{transform: scale(1.3);}
      }
      @-webkit-keyframes access{
            from{transform: scale(1);}
            to{transform: scale(1.3);}
      }
      @keyframes access{
            from{transform: scale(1);}
            to{transform: scale(1.3);}
      }
      .block-4 .block-4-pk img{
            width: 100%;
            height: 100%;
      }
      .block-4 .block-4-pk .block-4-text{
            top: 20%;
            left: 20%;
            position: absolute;
            opacity: 1;
            cursor: pointer;
      }
      .block-4 .block-4-pk .block-4-text:hover{
            animation: access_text;
            animation-duration: 1.5s;
      }
      @keyframes access_text{
            from{transform: scale(1);}
            to{transform: scale(1.1);}
      }
      
      .block-4 .block-4-pk .block-4-text h1{
            font-weight: 700;
            font-size: 45px;
            letter-spacing: 2px;
      }
      .block-4 .block-4-pk .block-4-text p{
            font-size: 22px;
            letter-spacing: 2px;
            font-weight: 500;
            text-align: center;
      }
      .block-4 .block-4-pk .block-4-text button{
            margin-left: 20%;
            margin-top: 15%;
            letter-spacing: 2px;
            font-weight: 500;
            border-radius: 0%;
            font-size: 18px;
      }
      .block-4-text button > a{color: white;}
      /* ===== ACCESSORIES - RESPONSIVE ===== */
      @media (max-width: 1040px){
            .block-4 .block-4-pk { height: 380px;}
            .block-4 .block-4-pk .block-4-text h1 {font-size: 35px;}
            .block-4 .block-4-pk .block-4-text button {
                  margin-left: 14%;
                  font-size: 15px;
            }
      }
      @media (max-width: 768px){
            .block-4 .block-4-pk .block-4-text h1 {font-size: 32px;}
            .block-4 .block-4-pk .block-4-text p {font-size: 17px;}
            .block-4 .block-4-pk .block-4-text {left: 13%;}
            .block-4 .block-4-pk .block-4-text button {font-size: 14px;}

      }
      @media (max-width: 480px){
            .block-4 .block-4-pk { height: 365px;}
            .block-4 .block-4-pk .block-4-text {
                  top: 24%;
                  left: 3%;
            }
      }

      /* =================== NEW PRODUCT ================ */
      main .block-5{
            grid-column: span 4;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
      }
            .block-5 .new-title{
                  width: 100%;
                  grid-column: span 4;
                  margin-top: 3%;
                  display: block;
                  margin-bottom: 1%;
            }
            .block-5 .new-title h2{
                  text-align: center;
                  font-size: 39px;
                  font-weight: 600;
            }
            #hr2 hr{
                  width: 20%;
                  height: 4px;
                  background-color: rgb(255, 86, 86);
                  margin-top: 30px;
                  margin-bottom: 25px;
                  margin-left:40%;
            }
            .block-5 .item{
                  grid-column: span 4;
                  border: 1px solid #fff;
                  min-height: 100px;
            }
      /* ==================== ABOUT US ================== */
      main .block-6{
            grid-column: span 4;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: minmax(50px,auto);
            width: 100%;
            height: 350px;
            margin-top: 35px;
      }
      .block-6 .about-img{
            width: 100%;
            height: 350px;
            overflow-x: hidden;
            overflow-y: hidden;
      }
            .block-6 .about-img img{
                  width: 100%;
                  height: 100%;
                  transform: translate(0%, 0%);
                  
            }
            .block-6 .about-img img:hover{
                  transform:rotate(40deg);
                  cursor: pointer;
                  transition: 0.4s;
            }
            .block-6 .about-content{
                  background-color: rgb(244, 246, 247);
                  width: 100%;
                  height: 100%;
                  padding-left: 35px;
                  padding-top: 35px;
            }
            .block-6 .about-content h1{
                  color: rgb(0, 0, 0);
                  font-size: 45px;
                  font-weight: 600;
                  letter-spacing: 2px;
            }
            .block-6 .about-content h1:hover{
                  padding-left: 47px;
                  transform: scale(1.1);
                  transition: 0.4s;
            }
            #hr3 hr{
                  width: 40%;
                  height: 4px;
                  margin-top: 23px;
                  margin-bottom: 35px;
                  background-color: rgb(255, 77, 77);
            }
            .block-6 .about-content p{
                  font-size: 18px;
                  font-weight: 500;
                  letter-spacing: 2px;
            }
            .block-6 .about-content p span{
                  color: rgb(255, 90, 90);
                  font-size: 25px;
                  font-weight: 700;
            }

            .block-6 .about-content button{
                  font-size: 18px;
                  border-radius: 0;
                  margin-left: 75%;
            }
            .block-6 .about-content button > a{color: white;}
            .block-6 .about-content button:hover{
                  transform: scale(1.1);
                  transition: 0.4s;
            }
            /* ====== ABOUT US - RESPONSIVE ===== */
      @media (max-width:1040px){
            main .block-6 {height: 320px;}
            .block-6 .about-content {
                  padding-left: 29px;
                  padding-top: 12px;}
            .block-6 .about-content h1 { font-size: 38px;}
            .block-6 .about-content p { font-size: 16px;}
            .block-6 .about-content button {
                  font-size: 16px;
                  margin-left: 67%;
                  margin-top: 19px;
            }
      }
      @media (max-width:768px){
            main .block-6 {height: 320px;}
            .block-6 .about-content {
                  padding-left: 29px;
                  padding-top: 8px;}
            .block-6 .about-content h1 { font-size: 35px;}
            .block-6 .about-content p { font-size: 14px;}
            .block-6 .about-content button {
                  font-size: 15px;
                  margin-left: 58%;
            }
            .block-6 .about-img img{ height: 91%;  }
      }
      @media (max-width:500px){
            main .block-6 {height: 270px;}
            .block-6 .about-content h1 { font-size: 32px;}
            .block-6 .about-content p { font-size: 12px;}
            .block-6 .about-content {
                  background-color: rgb(244, 246, 247);
                  padding-left: 34px;
                  padding-top: 20px;
            }
            .block-6 .about-content {
                  background-color: rgb(244, 246, 247);
                  padding-left: 15px;
                  padding-top: 5px;
              }
              .block-6 .about-content h1 {
                  font-size: 23px;
                  margin-bottom: -10px;
              }
            .block-6 .about-content h1 {
                  font-size: 25px;
            }
            .block-6 .about-content p {
                  font-size: 12px;
                  margin-top: -2em;
            }
            .block-6 .about-content button {
                  font-size: 11px;
                  margin-left: 45%;
                  margin-top: -3%;
              }   
            .block-6 .about-img img{ height: 77%;  }
      }


